.main-nav {
  width: 100%;
  position: relative;
}

.main-nav__list {
  .reset-list();
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;

  &--desktop {
    display: none;
  }
}

.main-nav__link {
  .reset-link();
  display: inline-block;
  position: relative;
  padding: 25px 18% 30px 23.5%;
  color: @black;

  &[href]:hover,
  &[href]:focus {
    color: rgba(@black, 0.6);
  }

  &[href]:active {
    opacity: 0.3;
  }
}

.main-nav__logo {
  display: block;
  padding-top: 22px;
  height: 80px;
  text-align: center;
  box-sizing: border-box;

  &--image {
    width: 85px;
    height: 36px;
  }

  &[href]:hover,
  &[href]:focus {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }
}

.main-nav__note {
  display: none;
}

@media (max-width: @mobile-width-only) {
  .main-nav__toggle {
    position: absolute;
    top: 0;
    right: 0;

    z-index: 2;
    display: block;
    width: 80px;
    height: 80px;

    cursor: pointer;
    border: none;
    background-color: transparent;
  }

  .main-nav {
    &--opened .main-nav__toggle::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 28px;
      transform: translateY(-50%);
      width: 21px;
      height: 21px;

      background-image: url("../img/icon-menu-close.svg");
      background-repeat: no-repeat;
    }

    &--closed .main-nav__toggle::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 28px;
      transform: translateY(-50%);
      width: 22px;
      height: 14px;
      background-image: url("../img/icon-menu-open.svg");
      background-repeat: no-repeat;
    }

    &--closed .main-nav__list--site,
    &--closed .main-nav__list--user,
    &--nojs .main-nav__toggle {
      display: none;
    }

    &--opened .main-nav__list--site,
    &--opened .main-nav__list--user,
    &--nojs .main-nav__list--site,
    &--nojs .main-nav__list--user {
      display: block;
    }
  }

  .main-nav__link {
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid rgba(@grey, 0.1);
  }

  .main-nav__icon {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
  }
}

@media (min-width: @tablet-width) {
  .main-nav {
    display: flex;
    flex-wrap: wrap;
    z-index: 100;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__logo {
    width: 25%;
    text-align: left;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;

    &--site {
      position: absolute;
      top: 100%;
      left: 0;
      width: 60%;
      font-size: 15px;
    }

    &--user {
      margin-left: auto;
      margin-right: -30px;
      justify-content: flex-end;
    }

    &--desktop {
      display: none;
    }
  }

  .main-nav__link {
    display: flex;
    border-top: none;
    align-items: center;

    &--site {
      padding: 18px 35px 18px 0;
    }

    &--user {
      padding: 30px 30px 32px;
      border-left: 1px solid rgba(@grey, 0.1);
    }

    &--search {
      font-size: 0;
    }

    &--cart svg {
      padding-right: 30px;
    }
  }

  .main-nav__note {
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    padding: 15px 0 15px 30px;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    justify-content: space-between;
  }

  .main-nav__logo {
    width: 150px;
    padding-top: 9px;
    text-align: center;
  }

  .main-nav__list {
    &--site {
      position: relative;
      width: 480px;
      left: auto;
      order: -1;
      font-size: 17px;

      .main-nav__item {
        max-width: 239px;

        &:nth-child(odd) {
          border-right: 1px solid rgba(@grey, 0.1);
        }
      }
    }

    &--user {
      width: 480px;
      margin: 0;

      .main-nav__item {
        border-left: 1px solid rgba(@grey, 0.1);
      }
    }

    &--desktop {
      position: absolute;
      top: 100%;
      left: 5px;
      display: flex;
      font-size: 15px;
    }
  }

  .main-nav__link {
    &--site,
    &--user {
      padding: 30px 35px 32px;
    }

    &--desktop {
      padding: 20px 30px;
    }
  }

  .main-nav__note {
    right: 35px;
  }
}
