.page-footer {
  box-sizing: border-box;
  background-color: @whitesmoke;
}

.page-footer__container {
  display: flex;
  flex-direction: column;
}

.page-footer__logo {
  display: none;
}

.page-footer__link {
  svg {
    fill: @black;
  }

  &:hover svg,
  &:focus svg {
    fill: @puertorico;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .page-footer {
    padding: 40px 0;
  }

  .page-footer__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__logo {
    width: 30%;
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__logo {
    width: 200px;
  }
}
